<!doctype html>
<html>
   <link rel="stylesheet" href="https://centeltech.com/css2.5.7/main.css">
   <body>
      <div id="navbar">
         <a href="/home">Home</a>
         <a href="/login">Login</a>
         <a href="/register">Register</a>
         <a href="/show/list">All your todos</a>
         <a href="/show/users" class="active">All users</a>
         <a href="/create/task">Create a new task</a>
      </div>
      <table "border" = 1>
         <thead>
            <td>First Name</td>
            <td>&nbsp;</td>
            <td>Last Name</td>
            <td>&nbsp;</td>
            <td>Email</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["first_name"]}}</td>
               <td>&nbsp;</td>
               <td> {{ row["last_name"]}}</td>
               <td>&nbsp;</td>
               <td> {{ row["email"]}}</td>
               <td>&nbsp;</td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
   </body>
</html>